.accueil {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

nav a {
  margin-right: 20px;
}

#presentation,
#carte,
#miseenavant,
#action {
  margin-bottom: 40px;
}

#carte {
  text-align: center;
}

#miseenavant {
  display: flex;
  justify-content: space-between;
}

.offre {
  flex-basis: calc(50% - 20px);
}

.cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #141414;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
